.bg-warning {
    background-color: #fcd41c;
}

.btn-dark {
    background-color: #302c2c;
}

.button-font {
    font-family: upgrade,sans-serif;
}

.body-font {
    font-family: Helvetica,Arial,sans-serif;
}